<mat-toolbar>
  <span><i class="fa-solid fa-film"></i> &nbsp;Cinema Ticket Shop</span>
  <span class="spacer"></span>
  <a routerLink="/" mat-button>
    <i class="fa-solid fa-house"></i>&nbsp;
    <span class="link-name">Početna</span>
  </a>
  <a routerLink="/search" mat-button>
    <i class="fa-solid fa-search"></i>&nbsp;
    <span class="link-name">Pretraga</span>
  </a>
  <a routerLink="/login" mat-button *ngIf="!service.getActiveUser()">
    <i class="fa-solid fa-right-to-bracket"></i>&nbsp;
    <span class="link-name">Prijavi se</span>
  </a>
  <a routerLink="/user" mat-button *ngIf="service.getActiveUser()">
    <i class="fa-solid fa-user"></i>&nbsp;
    <span class="link-name">Profil</span>
  </a>
  <button mat-button *ngIf="service.getActiveUser()" (click)="doLogout()">
    <i class="fa-solid fa-right-from-bracket"></i>&nbsp;
    <span class="link-name">Odjavi se</span>
  </button>
</mat-toolbar>

<router-outlet />
